# copy từ folder BE cũ của Khanh

/.idea/
/index/__pycache__/
/proj_backend/proj_backend/__pycache__/
/proj_backend/configs/__pycache__/
/proj_backend/migrations/
/proj_backend/helpers/__pycache__/
/proj_backend/proj_backend/user_app/middlewares/__pycache__/
proj_backend/user_app/models/
/proj_backend/proj_backend/user_app/paginations/__pycache__/
/proj_backend/proj_backend/user_app/serializers/__pycache__/
/proj_backend/proj_backend/user_app/views/__pycache__/
proj_backend/proj_backend/user_app/Entities/__pycache__/
proj_backend/entities/__pycache__/
/autorun.bat
/shell.bat
/venv/
venv/Lib/
